---
import TransitionScript from './script.jsx';
---

<div class="project__transition">
  <TransitionScript client:load />
  <div class="container grid calc-h">
    <div class="heading h3 fw-semi cl-txt-title upper project__transition-name" data-project-name>
      BIDV
    </div>
    <div class="project__transition-info" data-project-info>
      <div class="project__transition-info-inner">
        <p class="fw-med cl-txt-desc-solid project__transition-info-label">Role</p>
        <div
          class="project__transition-info-listing"
          style={{ '--max-line': '3' }}
          data-project-info-role
        >
        </div>
      </div>
      <div class="project__transition-info-inner">
        <p class="fw-med cl-txt-desc-solid project__transition-info-label">Services</p>
        <div
          class="project__transition-info-listing"
          style={{ '--max-line': '3' }}
          data-project-info-service
        >
        </div>
      </div>
      <div class="project__transition-info-inner">
        <p class="fw-med cl-txt-desc-solid project__transition-info-label sellings">Outcomes</p>
        <div class="project__transition-info-listing" data-project-info-selling></div>
      </div>
    </div>
    <div class="cl-txt-sub project__transition-year" data-project-year>
      <div class="project__transition-year-copyright">©</div><p
        class="project__transition-year-current"
      >
      </p>
    </div>
    <div class="project__transition-thumbnail-area"></div>
  </div>
  <div class="project__transition-thumbnail" data-project-thumbnail>
    <div class="project__transition-thumbnail-gradient"></div>
  </div>
</div>
<style lang="scss" is:global>
  @use '~/assets/styles/mixins' as *;
  .project__transition {
    --paddingTop: calc(7rem + 6.2vh);
    --paddingBot: -4.2vh;

    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    @include md {
      --paddingTop: calc(6.6rem + 4svh);
      --paddingBot: -5.7svh;
    }
    @include sm {
      --paddingTop: calc(6rem + 3.28svh);
    }
    &.is-returning {
      pointer-events: auto;
    }
    .container {
      // display: contents;
      @include md {
        --calc-height: calc(var(--fs-h1) * 0.835);
        // explain: get two line + padding top of section - .1em + padding bottom of name
        grid-template-rows: calc((var(--calc-height) * 2) + var(--paddingTop) + 6rem) 1fr;
      }
      @include sm {
        --calc-height: calc(var(--fs-h2) * 0.835);
        grid-template-rows:
          calc(var(--paddingTop) - (var(--calc-height) * 0.1)) calc(var(--calc-height) + 6.4rem)
          1fr;
      }
    }
    &-name {
      position: relative;
      z-index: 3;
      transform-origin: left top;
      line-height: 0.835em;
      grid-column: 1/9;
      grid-row: 1/3;
      align-self: start;
      justify-self: start;
      transform: translateY(calc(var(--paddingTop) - 0.1em));
      // width: calc(100% - var(--container-padding));
      // left: calc(var(--container-padding) * -1);
      // padding-inline: var(--container-padding);
      @include md {
        @include text(h1);
        line-height: 0.835em;
        grid-row: 1/2;
        // padding-bottom: 6rem;
        white-space: nowrap;
        br {
          display: none;
        }
      }
      @include sm {
        @include text(h2);
        line-height: 0.835em;
        max-width: 30.12rem;
        overflow-wrap: anywhere;
        grid-column: 1/-1;
        grid-row: 2/3;
        transform: translateY(0);
        white-space: unset;
        // display: none;
        br {
          display: block;
        }
      }
    }
    &-info {
      grid-column: 6/16;
      grid-row: 1/2;
      align-self: start;
      justify-self: start;
      transform-origin: left top;

      position: relative;
      z-index: 3;

      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 7.4rem 0;

      transform: translateY(var(--paddingTop));
      @include md {
        display: none;
      }
      &-label {
        margin-bottom: 1rem;
      }
      &-listing {
        @include tColor(desc, dm);
        height: calc(var(--fs-16) * 1.4 * var(--max-line));
        overflow: hidden;
        font-weight: 400;
      }
    }
    &-year {
      grid-column: 6/8;
      grid-row: 2/3;
      align-self: end;
      justify-self: start;
      transform-origin: left bottom;

      display: flex;
      gap: 0 0.5rem;

      transform: translateY(var(--paddingBot));
      @include md {
        display: none;
      }
    }
    &-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      @include md {
        grid-column: 5/-1;
        grid-row: 2/4;
        mask-image: linear-gradient(transparent, #fff 0, #fff calc(100% - 5svh), transparent);
        -webkit-mask-image: linear-gradient(
          transparent,
          #fff 0,
          #fff calc(100% - 5svh),
          transparent
        );
      }
      @include sm {
        grid-column: 1/-1;
        grid-row: 1/3;
        margin-right: 6rem;
        height: 26.53svh;
        top: 0;
      }
      img {
        display: block;
        position: absolute;
        object-fit: cover;
        object-position: center top;
        height: 100%;
        object-fit: cover;
        @include xs {
          object-position: center center;
        }
      }
      &-area {
        grid-column: 9/15;
        grid-row: 1/3;
        transform: translateY(var(--paddingTop));
        height: calc(100% - var(--paddingTop) + var(--paddingBot));
        @include md {
          @include text(h1);
          grid-column: 5/-1;
          grid-row: 2/3;
          transform: translateY(0);
          height: calc(100% + var(--paddingBot) - (var(--fs-16) * 1.4 * 6) - 4.35svh - 5rem);
        }
        @include sm {
          grid-column: 1/-1;
          height: 26.53svh;
          grid-row: 3/4;
          // background-color: blueviolet;
        }
      }
      &-gradient {
        position: absolute;
        z-index: 2;
        background: linear-gradient(22deg, rgba(12, 13, 16, 1) 16.32%, rgba(12, 13, 16, 0) 50%);
        bottom: 0;
        height: 31svh;
        width: 100%;
        opacity: 0.8;

        display: none;
        @include md {
          display: block;
        }
        @include sm {
          height: 100%;
          background: linear-gradient(22deg, rgba(12, 13, 16, 1) 16.32%, rgba(12, 13, 16, 0) 50%);
        }
      }
    }
  }
</style>
