html {
    .transition-fade {
        transition: opacity .8s ease;
        transition-delay: .4s;
    }
    // &.is-changing .transition-fade {
    //     opacity: 0;
    // }
    &.is-animating .transition-fade {
        opacity: 0;
        transition-delay: 0s;
    }

    @include swup-path(animating, projects, project) {
        .transition-fade {
            transition: .8s;
            @include md {
                transition: 1s;
            }
        }
        .project__info {
            opacity: 0;
        }
        .project__name-txt.active {
            opacity: 0;
        }
        .project__scrollDown {
            opacity: 0;;
        }
        .project__desc-txt.active .word {
            transform: translateY(100%) !important;
            transition: .4s ease-in-out;
        }
        .project-item-label {
            opacity: 0;
        }
        .project__role-listing,
        .project__services-listing,
        .project__selling-listing {
            &.active .word {
                @include md {
                    transform: translateY(100%) !important;
                    transition: .4s ease-in-out;
                }
            }
        }
        .project__year .project__year-current,
        .project__year .project__year-copyright {
            @include md {
                transform: translateY(100%) !important;
                transition: .4s ease-in-out;
            }
        }
    }
    @include swup-path(changing, projects, project) {
        .transition-fade {
            opacity: 1;
        }
    }
    @include swup-path(animating, project, projects) {
        .transition-fade {
            transition: .4s;
            @include md {
                transition: 1s;
            }
        }
    }

    @include swup-path(animating, project, project) {
        .transition-fade {
            transition: .6s;
            @include md {
                transition: 1s;
            }
        }
    }
}